<div class="homeContainer">
  <h1><span class="animate-in">Consult. </span><span class="animate-in">Design. </span><span class="animate-in">Deliver. </span></h1>
  <section>
    <div class="textWithImage onRight animate-in">
      <div class="imgContainer"><img src="{{""}}{{(urlStaticRelative)}}images/backgrounds/structural.jpg" class="structural"></div>
      <p><span class="companyName">Allied Consultant Engineering </span><span>provides industry leading structural engineering services.</span></p>
      <p>We ensure the appropriate consultation and advice is provided based on client’s needs, from small one-off projects to major infrastructure programs.</p>
    </div>
    <div class="line animate-in"></div>
    <div class="textWithImage onLeft animate-in animate-in">
      <div class="imgContainer"><img src="{{""}}{{(urlStaticRelative)}}images/backgrounds/telecoms.jpg" class="telecoms"></div>
      <p>We always ensure our advice is communicated in a clear and concise manner.</p>
      <p>Our mission is to provide lasting value engineering to all of our clients.</p>
    </div>
  </section>
</div>