<div class="notificationWrapper">
  <div class="notification success"><span class="title"></span><span class="msg"></span></div>
  <div class="notification error"><span class="title"></span><span class="msg"></span></div>
  <div class="notification warn"><span class="title"></span><span class="msg"></span></div>
</div>