$brand-colour: #85b240;
$brand-colour-2: #afbe8f;
$text-colour: #666666;
$text-colour-light: #888;
$label-colour: #a9a9b1;
$bg-colour: #f3f3f1;
$bg-colour-dark: #686868;
$bg-colour-darkest: #666;

$font-family: 'Open Sans', sans-serif;
$font-size: 16px;

$border-color: #e1e1e3;
$border: 1px solid $border-color;

$body-max-width: 960px;
$break-small: 400px;
$break-medium: 580px;
$break-large: 760px;
$content-wrapper-padding: 20px;

$body-line-height: 30px;

$z-index-sub-menu: 1;
$z-index-obscurer: 2;

$notify-success-colour: $brand-colour;
$notify-warn-colour: #ffa500;
$notify-error-colour: #ff0000;
